<div class="dice-roller">
  <div class="row">
    <button type="button" class="roller-button d8" data-dice="d8" data-action="onRollDice">d8</button>
  </div>
  <div class="row">
    <button type="button" class="roller-button d4" data-dice="d4" data-action="onRollDice">d4</button>
    <button type="button" class="roller-button d6" data-dice="d6" data-action="onRollDice">d6</button>
  </div>
  <div class="row">
    <button type="button" class="roller-button d10" data-dice="d10" data-action="onRollDice">d10</button>
    <button type="button" class="roller-button d12" data-dice="d12" data-action="onRollDice">d12</button>
  </div>
  <div class="row">
    <button type="button" class="roller-button d20" data-dice="d20" data-action="onRollDice">d20</button>
    <button type="button" class="roller-button d100" data-dice="d100" data-action="onRollDice">d100</button>
  </div>
</div>