@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.window-content:has(.dice-roller-container),
.window-content:has(.discworld-actor) {
  padding: 0;
}

.discworld-actor {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 10px;
}

/* Character sheet roll button styling*/
.discworld-actor .dice-roll-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}

.discworld-actor .dice-roll-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.discworld-actor .roll-button {
  flex: 1;
  min-width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  cursor: pointer;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  border: none;
  height: 3rem;
}

.roll-button img.dice-icon {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
}

/*Luck field styling*/
.discworld-actor .luck-controls {
  display: flex;
  align-items: center;
}

.discworld-actor .buttons {
  display: flex;
  flex-direction: column;
}

.discworld-actor .luck-increase, .luck-decrease {
  border: none;
  height: 1.5rem;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discworld-actor .luck-input {
  width: 50px;
  margin-right: 5px;
  height: 3rem;
  border: none;
  text-align: right;
  font-family: "Kalam", cursive;
  font-size: 2rem;
}

.discworld-actor .luck-max {
  font-size: 2rem;
  margin-right: 15px;
}

/*Input text box and field stylings*/
.discworld-actor .name-field {
  flex-basis: 81%;
  padding-right: 10px;
}

.discworld-actor .name-field .name-input {
  height: 3rem;
  border: none;
  font-family: "Kalam", cursive;
  font-size: 2rem;
}

.discworld-actor .fullname-field {
  flex-basis: 81%;
  padding-right: 10px;
}

.discworld-actor .pronouns-field {
  flex-basis: 17%;
  padding-right: 10px;
}

.discworld-actor .fullname-field .fullname-input,
.discworld-actor .species-field .species-input,
.discworld-actor .mannerism-field .mannerism-input,
.discworld-actor .party-field .party-input,
.discworld-actor .organisation-field .organisation-input,
.discworld-actor .pronouns-field .pronouns-input {
  border: none;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

.discworld-actor .organisation-field {
  flex: 45%;
}

.discworld-actor .party-field {
  flex: 45%;
  padding-right: 10px;
}

.discworld-actor .party-field .party-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discworld-actor .party-field .party-row .party-input {
  flex: 85%;
}

.discworld-actor .party-field .party-row .party-eye {
  padding-left: 10px;
}

.discworld-actor .field-group.party-field a.view:hover i {
  color: #00FF00;
}

.discworld-actor .species-field {
  flex: 80%;
}

.discworld-trait .split-row,
.discworld-actor .split-row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.discworld-actor .left-column {
  flex: 0 0 70%;
  padding-right: 10px;
  align-self: flex-start;
}

.discworld-actor .right-column {
  flex: 0 0 20%;
  padding-left: 10px;
  padding-top: 10px;
  align-self: flex-start;
}

.discworld-actor .field-group {
  display: flex;
  flex-direction: column;
}

.discworld-trait label,
.discworld-actor label {
  margin-top: 5px;
}

.discworld-trait .form-group-notes,
.discworld-actor .form-group-notes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.discworld-actor .form-group-notes-notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 10px;
}

.discworld-trait .form-group-notes label,
.discworld-trait .field-group label,
.discworld-actor .form-group-notes label,
.discworld-actor .field-group label,
.discworld-actor .form-group label {
  margin-right: 5px;
  font-weight: bold;
}

textarea {
  height: 165px;
  resize: vertical;
  max-height: 250px;
  min-height: 80px;
  border: none;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

/*Image fields styling*/
.image-field {
  width: 200px;
  height: 390px;
  overflow: hidden;
}

.npc-image-field {
  width: 200px;
  height: 290px;
  overflow: hidden;
}

.limited-sheet {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 10px;
}

.profile-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border: none;
}

/* item row styling from here */
/* Style the label and create button */
.discworld-actor .newline {
  display: block;
  height: none;
  margin: none;
  padding: none;
  border: none;
}

/* Style each individual item entry */
.discworld-actor li.row.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the item name */
.discworld-actor .item-name {
  flex-grow: 1;
  margin-right: 5px;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  border: none;
}

/* Style the control buttons */
.discworld-actor .row.entry .control {
  display: flex;
}

.discworld-actor .control a {
  cursor: pointer;
  margin-left: 5px;
}

.discworld-actor .control a.edit:hover {
  color: #ffc107;
}

.discworld-actor .control a.delete:hover {
  color: #dc3545;
}

/*Item tooltop styling*/
.item-tooltip {
  position: absolute;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1000;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 550px;
  font-family: "Kalam", cursive;
  font-size: 0.9rem;
}

/*Traits item sheet styling*/
.discworld-trait .organisation-input,
.discworld-trait .name-input {
  border: none;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

/*Side bar roller button styling here*/
.dice-roller-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roller-button {
  cursor: pointer;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.roller-button img.dice-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border: none;
  margin-right: 5px;
}

.disc-roller-form {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: right 0.15s linear;
}

.disc-roller-form .roller-button {
  background: none;
  border: none;
  padding: 0;
}

.disc-roller-form .roller-button img {
  width: 100%;
  height: auto;
}

/*Restricted view for observers*/
.observer {
  pointer-events: none !important;
}
.observer [data-tooltip] {
  pointer-events: auto !important;
}

/*Chat card styling*/
.chat-card {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-card .formula {
  color: rgba(0, 0, 0, 0.7);
}

.chat-card .result {
  font-size: 1.5em;
  font-weight: bold;
}
