@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
--darkmodetext: rgb(231, 209, 177);
--lightmodetext: rgb(34, 34, 34);
--hovercolour: #FF5722;
--scrollbar: rgb(128, 128, 128);
--edithover: #ffc105;
--deletehover: #dc3848; 
--chattextpink: #FF8DA1;
--chatbackground: #b89c6d;
--chatrolling: #4a2125;
}

.window-content:has(.dice-roller-container),
.window-content:has(.discworld-trait),
.window-content:has(.discworld-actor) {
  padding: 0;
  border: none;
  background: transparent;
}

.discworld-trait,
.discworld-actor {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 10px;
  background-image: url('/systems/discworld/assets/backgrounds/dark.png');
  background-size: stretch;
  background-position: center;
  background-repeat: no-repeat;
  scrollbar-color: var(--scrollbar) transparent;
}

.theme-light .discworld-trait,
.theme-light .discworld-actor {
  background-image: url('/systems/discworld/assets/backgrounds/light.png');
}

/* Character sheet roll button styling*/
.discworld-actor .dice-roll-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}

.discworld-actor .dice-roll-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.discworld-actor .roll-button {
  flex: 1;
  min-width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  cursor: pointer;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  border: none;
  height: 3rem;
}

.roll-button img.dice-icon {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
}

/*Luck field styling*/
.discworld-actor .luck-controls {
  display: flex;
  align-items: center;
}

.discworld-actor .buttons {
  display: flex;
  flex-direction: column;
}

.discworld-actor .luck-increase, 
.discworld-actor .luck-decrease {
  border: none;
  box-shadow: none;
  height: 1.5rem;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  &:hover{
    background: var(--hovercolour);
  }
}

.discworld-actor .luck-input {
  width: 50px;
  margin-right: 5px;
  height: 3rem;
  border: none;
  box-shadow: none;
  border-bottom: 1px dashed var(--darkmodetext);
  text-align: right;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  background: transparent;
}

.theme-light  .luck-input {
  border-bottom: 1px dashed var(--lightmodetext);
}

.discworld-actor .luck-max {
  font-size: 2rem;
  margin-right: 15px;
}

/*Input text box and field stylings*/
.discworld-actor .name-field {
  flex-basis: 81%;
  padding-right: 10px;
}

.discworld-actor .name-field .name-input {
  height: 3rem;
  border: none;
  box-shadow: none;
  border-bottom: 1px dashed var(--darkmodetext);
  font-family: "Kalam", cursive;
  font-size: 2rem;
  background: transparent;
}

.theme-light .discworld-actor .name-field .name-input {
  border-bottom: 1px dashed var(--lightmodetext);
}

.discworld-actor .fullname-field {
  flex-basis: 81%;
  padding-right: 10px;
}

.discworld-actor .pronouns-field {
  flex-basis: 17%;
  padding-right: 10px;
}

.discworld-actor .fullname-field .fullname-input,
.discworld-actor .species-field .species-input,
.discworld-actor .mannerism-field .mannerism-input,
.discworld-actor .party-field .party-input,
.discworld-actor .organisation-field .organisation-input,
.discworld-actor .pronouns-field .pronouns-input {
  border: none;
  box-shadow: none;
  border-bottom: 1px dashed var(--darkmodetext);
  font-family: "Kalam", cursive;
  font-size: 1rem;
  background: transparent;
}

.theme-light .discworld-actor .fullname-field .fullname-input,
.theme-light .discworld-actor .species-field .species-input,
.theme-light .discworld-actor .mannerism-field .mannerism-input,
.theme-light .discworld-actor .party-field .party-input,
.theme-light .discworld-actor .organisation-field .organisation-input,
.theme-light .discworld-actor .pronouns-field .pronouns-input {
  border-bottom: 1px dashed var(--lightmodetext);
}

.discworld-actor .organisation-field {
  flex: 45%;
}

.discworld-actor .party-field {
  flex: 45%;
  padding-right: 10px;
}

.discworld-actor .party-field .party-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discworld-actor .party-field .party-row .party-input {
  flex: 85%;
}

.discworld-actor .party-field .party-row .party-eye {
  padding-left: 10px;
}

.discworld-actor .field-group.party-field a.view:hover i {
  color: var(--hovercolour);
}

.discworld-actor .species-field {
  flex: 80%;
}

.discworld-trait .split-row,
.discworld-actor .split-row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.discworld-actor .left-column {
  flex: 0 0 70%;
  padding-right: 10px;
  align-self: flex-start;
}

.discworld-actor .right-column {
  flex: 0 0 20%;
  padding-left: 10px;
  padding-top: 10px;
  align-self: flex-start;
}

.discworld-actor .field-group {
  display: flex;
  flex-direction: column;
}

.discworld-trait label,
.discworld-actor label {
  margin-top: 5px;
}

.discworld-trait .form-group-notes,
.discworld-actor .form-group-notes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.discworld-actor .form-group-notes-notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 10px;
}

.discworld-trait .form-group-notes label,
.discworld-trait .field-group label,
.discworld-actor .form-group-notes label,
.discworld-actor .field-group label,
.discworld-actor .form-group label {
  margin-right: 5px;
  font-weight: bold;
}

textarea {
  height: 180px;
  resize: none;
  box-shadow: none;
  border: none;
  border: 1px dashed var(--darkmodetext);
  font-family: "Kalam", cursive;
  font-size: 1rem;
  background: transparent;
  scrollbar-color: var(--scrollbar) transparent;
}

.theme-light textarea {
  border: 1px dashed var(--lightmodetext);
}

/*Image fields styling*/
.image-field,
.npc-image-field {
  width: 200px;
  height: 390px;
  overflow: hidden;
}

.limited-sheet {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 10px;
}

.profile-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border: none;
}

/* item row styling from here */
/* Style the label and create button */
.discworld-actor .newline {
  display: block;
  height: none;
  margin: none;
  padding: none;
  border: none;
}

/* Style each individual item entry */
.discworld-actor li.row.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the item name */
.discworld-actor .item-name {
  flex-grow: 1;
  margin-right: 5px;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  box-shadow: none;
  border: none;
  border-bottom: 1px dashed var(--darkmodetext);
  background: transparent;
}

.theme-light .discworld-actor .item-name {
  border-bottom: 1px dashed var(--lightmodetext);
}

/* Style the control buttons */
.discworld-actor .row.entry .control {
  display: flex;
}

.discworld-actor .control a {
  cursor: pointer;
  margin-left: 5px;
}

.discworld-actor .control a.edit:hover {
  color: var(--edithover);
}

.discworld-actor .control a.delete:hover {
  color: var(--deletehover);
}

/*Traits item sheet styling*/
.discworld-trait .organisation-input,
.discworld-trait .name-input {
  border: none;
  box-shadow: none;
  border-bottom: 1px dashed var(--darkmodetext);
  background: transparent;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

.theme-light .discworld-trait .organisation-input,
.theme-light .discworld-trait .name-input {
  border-bottom: 1px dashed var(--lightmodetext);
}

/*Side bar roller button styling here*/
.dice-roller {
  background-image: url('/systems/discworld/assets/backgrounds/roller-dark.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.theme-light .dice-roller {
  background-image: url('/systems/discworld/assets/backgrounds/roller-light.png');
}

.roller-button {
  cursor: pointer;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 45px;
  background-color: transparent;
  transition: none;
}

.roller-button:hover {
  color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.d4 {
  background-image: url('/systems/discworld/assets/dice/d4.png');
}

.d6 {
  background-image: url('/systems/discworld/assets/dice/d6.png');
}

.d8 {
  background-image: url('/systems/discworld/assets/dice/d8.png');
  width: 160px;
}

.d10 {
  background-image: url('/systems/discworld/assets/dice/d10.png');
}

.d12 {
  background-image: url('/systems/discworld/assets/dice/d12.png');
}

.d20 {
  background-image: url('/systems/discworld/assets/dice/d20.png');
}

.d100 {
  background-image: url('/systems/discworld/assets/dice/d100.png');
}

/*Restricted view for observers*/
.observer {
  pointer-events: none !important;
}
.observer [data-tooltip] {
  pointer-events: auto !important;
}

/*Chat card styling*/
.chat-card {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

.chat-card .selected-text-box {
  text-align: center;
}

.chat-card .selected-text-box .selected-text {
  text-shadow: 0 0 10px var(--chattextpink), 0 0 20px var(--chattextpink);
}

.chat-card .rolled {
  background: radial-gradient(ellipse at center top, var(--chatbackground) 0%, transparent 100%);
}

.chat-card .formula {
  color: var(--chatrolling);
  padding: 6px;
}

.chat-card .rolled .result {
  font-size: 1.5rem;
  font-weight: bold;
}