<form class="{{cssClass}}">
  <div class="field-group">
    <input type="text" name="name" value="{{item.name}}" class="name-input">
  </div>
  <div class="form-group-notes">
    <label for="traits">{{localize 'item.description'}}:</label>
    <textarea name="system.description" class="description-input">{{item.system.description}}</textarea>
  </div>
</form>